<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>上传行程码图片文字识别颜色</title>
</head>
<body>
  <h3>行程码图片上传识别-demo</h3>
  <form action="/tools/upload/ocr" method="post" enctype="multipart/form-data">
    <input type="text" name="flag" value="https://www.weiyigeek.top" size="32"> <br/><br/>
    <input type="file" name="file" /><br /><br/>
    <input type="submit" value="upload" />
</form>
</body>
</html>